@import "../stuff/variables";
.header{
  padding-top: 10px;
  padding-bottom: 70px;

  background:url("./img/images/bg.png") center center/cover no-repeat;
  background-color: $bgColor;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list{
    display: flex;
    align-items: center;
    list-style: none;
  }
  &__item{
    font-size: 18px;
    font-weight: 500;
    :nth-child(1){
      margin-right: 52px;
    }
    :nth-child(2){
      margin-right: 44px;
    }
    :nth-child(3){
      margin-right: 42px;
    }
    :nth-child(4){
      margin-right: 55px;
    }
  }
  &__item_link {
    color: $firstColor;
    &:hover {
        color: #FFFFFF;
      }
  }
  a{
    text-decoration: none;
    color: $firstColor;
    transition: 1s ease all;
  }
  }



.gameblock-wrap{
  position: relative;
  display: flex;
  justify-content: space-between;
  &__heading{
    position: relative;
    padding-top: 136px;
    width: 518px;
  }
  &__suptitle{
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    p{
      margin-right: 31px;
      color: $firstColor;
      font-size: 23px;
      font-weight: 500;
    }
  }
  &__title{
    font-size: 58px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 31px;
    color: $secondColor;
    p{
      color: $firstColor;
    }
    span{
      font-weight: 500;

    }
  }
  &__sbcross{
    position: absolute;
    top: 204px;
    left: -136px;
    animation-name: updown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
  &__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    color: #826F8C;
    margin-bottom: 36px;
  }
 }
.gameblock-btn{
  width: 207px;
}
.gameblock-cross{
  bottom: -26px;
  position: absolute;
  right: 154px;
  display: inline-block;
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.gameblock-img{
  margin-top: 54px;
  width: 601px;
  position: relative;
  &__dots{
    position: absolute;
    top: 217px;
    right: -101px;

  }
}
#smimage1{
  position: absolute;
  left: -89px;
  top: -16px;
}
#smimage2{
  right: -129px;
  position: absolute;
  bottom: -47px;
}
@keyframes spin {
    0% {
     transform: rotate(0deg);
    }
    100% {
     transform: rotate(360deg);
    }
}
@keyframes updown {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(40px);
    }
}

