@import "variables";
@mixin btn-avgn{
  font-family: 'Josefin Sans', sans-serif;
  background: linear-gradient(90deg, #4499D9 17.46%, #7367BE 87.77%);
  border-radius: 25px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: none;
  color: #FFFFFF;
  width: 180px;
  height: 50px;
  cursor: pointer;
  transition: 0.8s ease all;
  &:hover{
    background: #5b99d0;
    transform: scale(1.08);
  }
}

.btn-avgn{
@include btn-avgn;
}

